<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rose.mybatis.mapper.UserMapper">

    <!-- id代表的是方法名 -->
    <insert id="insert" parameterType="com.rose.mybatis.entity.User">
        insert into user (username, password) values (#{username}, #{password})
    </insert>

    <delete id="deleteAll">
        delete from user
    </delete>

    <select id="findAll" resultType="java.util.List">
        select * from user;
    </select>

    <select id="findById" resultType="com.rose.mybatis.entity.User" parameterType="Integer">
        select * from user where id = #{id}
    </select>

    <!-- 配置二级缓存 -->
    <!--
        配置二级缓存：
        Cache Hit Ratio [com.rose.mybatis.mapper.UserMapper]: 0.5
        Cache Hit Ratio [com.rose.mybatis.mapper.UserMapper]: 0.6666666666666666

        二级缓存开启的方式：Configuration中cacheEnabled默认为true + Mapper.xml中配置<cache/>标签
    -->
    <cache/>

</mapper>